<div id="login-page">
  <h1>Login</h1>
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="control-wrapper">
      <label for="edit-login">Login: &nbsp;</label>
      <input id="edit-login" type="text" formControlName="login">
    </div>
    <div class="control-wrapper">
      <label for="edit-password">Password:</label>
      <input id="edit-password" type="password" formControlName="password">
    </div>
    <div class="control-wrapper">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
  <p class="text-left">{{loggedInUser|json}}</p>
</div>