
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Team</th>
            <th scope="col" colspan="5" class="text-right"><button class="btn btn-sm btn-primary" (click)="showTeamModal(teamModal)">Add to team</button></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Email</th>
            <th scope="col">Skype</th>
            <th scope="col">Location</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of team">
            <td>{{member.FullName}}</td>
            <td>{{member.Position.Name}}</td>
            <td>{{member.Email}}</td>
            <td>{{member.Skype}}</td>
            <td>{{member.Location.Name}}</td>
            <td>
                <ng-template #popTitle>Delete {{member.FullName}}?</ng-template>
                <ng-template #popContent>
                    <button class="btn btn-sm btn-success">No!</button>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-sm btn-danger" (click)="deleteMember(member)">Delete.</button>
                </ng-template>
                <button type="button"
                        class="btn btn-sm btn-danger delete-button"
                        title="Delete this member!"
                        placement="left" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                >
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #teamModal let-modal>
    <div id="team-modal">
        <div class="modal-header">
            <h4 class="modal-title" id="team-modal-title">Add members to Team</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Select members and push the button to Add.</p>
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Location</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let employee of employees" (click)="toggleEmployee(employee)" [className]="(selected.indexOf(employee.Id) !== -1) ? 'table-info' : ''">
                    <td><input type="checkbox" [checked]="selected.indexOf(employee.Id) !== -1"/></td>
                    <td>{{employee.FullName}}</td>
                    <td>{{employee.Position.Name}}</td>
                    <td>{{employee.Location.Name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('save click')">Add to Team</button>
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        </div>
    </div>
</ng-template>
