<tr class="project-row">
    <th scope="row" [className]="'project-name'" colspan="2">{{project.Name}}</th>
    <td *ngFor="let day of dates">&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr app-timesheet-task class="task-row" *ngFor="let task of tasks" [task]="task" [dates]="dates" [timesheets]="timesheets"></tr>
<tr class="project-summary-row">
    <th scope="row" colspan="2">Total</th>
    <th *ngFor="let day of dates; let i=index" style="text-align: center">{{hoursByDates[i]}}</th>
    <th>{{hoursTotal}}</th>
</tr>