
:host {
  display: table-row;
}

.task-name {
  padding-left: 2em;
}

input {
  width: 35px;
  border: 1px solid #ebebeb;
  text-align: right;
  border-radius: 5px;
}

fa-icon {
  font-size: 14px;
  opacity: .8;
  margin-left: .5em;
}

#timesheet-modal {
  label {
    width: 30%;
  }
  input {
    width: 60%;
    text-align: left;
    padding-left: .5em;
  }
}

