
h1 {
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  text-align: center;
}

h3 {
  font-size: 1.1em;
  text-align: center;
}

#project-wrapper {
  padding: 2em;
}

#project-info {
  display: inline-block;
  margin-bottom: 2em;
}

#project-image {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: #ebebeb;
}