
<app-projects-bar [project]="project" (switchToProject)="switchToProject($event)"></app-projects-bar>


<div id="project-wrapper" *ngIf="project">
    <h1>{{project?.Name}}</h1>
    <p>
        <br />
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="router.navigateByUrl('/dashboard?projectId=' + project.Id)">View Dashboard</button>&nbsp;
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="showProjectModal()">Edit Project</button>
    </p>
    <div id="project-info">
        <div><strong>Customer:</strong>&nbsp;<span>{{project?.CustomerName}}</span></div>
        <div><strong>Start date:</strong>&nbsp;<span>{{project?.StartDate|date:'longDate'}}</span></div>
        <div><strong>End date:</strong>&nbsp;<span>{{project?.EndDate|date:'longDate'}}</span></div>
        <div><strong>Description:</strong><br /><span>{{project?.Description}}</span></div>
    </div>

    <app-project-team [project]="project"></app-project-team>
</div>

<ng-template #projectModal let-modal>
</ng-template>