<div id="admin-section-wrapper">
    <div id="admin-actions">
        <div class="form-group">
            <input id="edit-text" class="form-control form-control-sm" type="text" placeholder="Filter"
                   [formControl]="filterControl" (keyup)="onFilterKeyUp()">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary" (click)="showEditModal(section.newRow)">{{section.addButton.text}}</button>
        </div>
    </div>
    <div id="admin-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" *ngFor="let column of section.columns">{{column.title}}</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let row of dataset">
                <tr *ngIf="hiddenRowIds.indexOf(row.Id) === -1">
                    <td *ngFor="let column of section.columns">
                        <span *ngIf="column.type === 'number'">{{row[column.name]}}</span>
                        <span *ngIf="column.type === 'string'">{{row[column.name]}}</span>
                        <span *ngIf="column.type === 'link'"><a href="{{column.link}}/{{row['Id']}}">{{row[column.name]}}</a></span>
                        <span *ngIf="column.type === 'date'">{{row[column.name] | date:'mediumDate'}}</span>
                    </td>
                    <td class="text-right">
                        <fa-icon [icon]="faPencilAlt" (click)="showEditModal(row)"></fa-icon>

                        <ng-template #popTitle>Delete this row?</ng-template>
                        <ng-template #popContent>
                            <button class="btn btn-sm btn-success" style="margin-right: 3em;">No</button>
                            <button class="btn btn-sm btn-danger" (click)="deleteRow(row)">Delete</button>
                        </ng-template>
                        <fa-icon [icon]="faTimes" placement="left" [ngbPopover]="popContent" [popoverTitle]="popTitle" title="Delete this row!"></fa-icon>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>