
<h1 *ngIf="user">{{user.FullName}}<span *ngIf="user.Id === currentUser?.Id">&nbsp;<span class="badge badge-secondary">You</span></span></h1>
<div id="user-wrapper" class="row" *ngIf="user">
    <div id="user-image" class="col-sm-2 offset-sm-1">
        <img [src]="user.ImageUrl" alt="{{user.FullName}}" class="rounded float-left">
    </div>
    <div id="user-info" class="col-sm-4">
        <div>
            <div><strong>Birthday:</strong>&nbsp;<span>{{user.Birthday|date:'longDate'}}</span></div>
            <div><strong>Email:</strong>&nbsp;<span><a href="mailto:{{user.Email}}">{{user.Email}}</a></span></div>
            <div><strong>Location:</strong>&nbsp;<span>{{apiService.location(user.LocationId).Name}}</span></div>
            <div><strong>Address:</strong>&nbsp;<span>{{user.Address}}</span></div>
            <div><strong>Skype:</strong>&nbsp;<span><a [href]="skypeLink">{{user.Skype}}</a></span></div>
            <div><strong>Phone:</strong>&nbsp;<span>{{user.Phone}}</span></div>
            <div><strong>First:</strong>&nbsp;<span>{{user.First}}</span></div>
            <div><strong>Last:</strong>&nbsp;<span>{{user.Last}}</span></div>
            <button type="button" class="btn btn-sm btn-primary" (click)="showUserModal(user)">Edit</button>
        </div>
    </div>
    <div id="user-skills" class="col-sm-3">
        <table *ngIf="skills">
            <tbody>
                <tr *ngFor="let skill of skills">
                    <th>{{skill.Name}}</th>
                    <td>{{skill.LevelName}}</td>
                    <td><button class="btn btn-sm btn-light" (click)="showSkillModal(skill)">Edit</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <br>
            <button class="btn btn-sm btn-primary" (click)="showSkillModal()">Add skill</button>
        </div>
    </div>
</div>
