<div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" *ngIf="authService.currentUser === null">
      <a class="nav-link" (click)="showLoginModal()">Login</a>
    </li>
      <li class="nav-item" *ngIf="authService.currentUser !== null">
        <span style="display: block; padding: .5rem 1rem;">Hello, <a href="/users/{{authService.currentUser.Id}}">{{authService.currentUser.First}}</a>!</span>
      </li>
    <li class="nav-item" *ngIf="authService.currentUser !== null">
      <a class="nav-link" (click)="authService.logout()">Logout</a>
    </li>
  </ul>
</div>
