<p>
  <span *ngFor="let item of projects; let i=index">
    <a href="/dashboard?projectId={{item.Id}}" *ngIf="!project || item.Id !== project.Id">{{item.Name}}</a>
    <span *ngIf="project && item.Id === project.Id">{{item.Name}}</span>
    <span *ngIf="i < projects.length - 1">&nbsp;|&nbsp;</span>
  </span>
</p>

<div class="project-header">
    <h1>{{project?.Name}}</h1>
    <p style="text-align: center">{{tasks.length}} tasks</p>
    <div id="project-actions"><button type="button" class="btn btn-primary">New task</button></div>
</div>
<div class="statuses-list" cdkDropListGroup>
    <div cdkDropList
         *ngFor="let status of apiService.taskStatuses"
         class="status-item"
         (cdkDropListDropped)="onDrop($event)"
         [cdkDropListData]="tasksByStatuses[status.id]"
         [id]="status.id"
    >
        <h3>{{status.name}} <span class="badge badge-secondary">{{tasksByStatuses[status.id]?.length}}</span></h3>
        <div class="tasks-list">
            <div cdkDrag
                 *ngFor="let task of tasksByStatuses[status.id]"
                 [cdkDragData]="task"
                 class="task-item"
            >
                <div class="task-name">{{task.Name}}</div>
                <div class="task-description">{{task.Description}}</div>
            </div>
        </div>
    </div>
</div>
