<p>
  <span *ngFor="let item of projects; let i=index">
    <a href="/dashboard?projectId={{item.Id}}" *ngIf="!project || item.Id !== project.Id">{{item.Name}}</a>
    <span *ngIf="project && item.Id === project.Id">{{item.Name}}</span>
    <span *ngIf="i < projects.length - 1">&nbsp;|&nbsp;</span>
  </span>
</p>

<div class="project-header">
    <h1>{{project?.Name}}</h1>
    <div style="text-align: center; margin-bottom: 1em;">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="router.navigateByUrl('/projects/' + project.Id)">View project</button>
        <div>{{tasks.length}} tasks</div>
    </div>
    <div id="project-actions"><button type="button" class="btn btn-sm btn-primary" (click)="showTaskModal(taskModal)">New task</button></div>
</div>
<div class="statuses-list" cdkDropListGroup>
    <div cdkDropList
         *ngFor="let status of apiService.taskStatuses"
         class="status-item"
         (cdkDropListDropped)="onDrop($event)"
         [cdkDropListData]="tasksByStatuses[status.id]"
         [id]="status.id"
    >
        <h3>{{status.name}} <span class="badge badge-secondary">{{tasksByStatuses[status.id]?.length}}</span></h3>
        <div class="tasks-list">
            <div cdkDrag
                 *ngFor="let task of tasksByStatuses[status.id]"
                 [cdkDragData]="task"
                 class="task-item"
                 (dblclick)="showTaskModal(taskModal, task)"
            >
                <div class="task-name">{{task.Name}}</div>
                <div class="task-description">{{task.Description}}</div>
            </div>
        </div>
    </div>
</div>

<ng-template #taskModal let-modal>
    <div id="task-modal">
        <div class="modal-header">
            <h4 class="modal-title" id="task-modal-title">Task</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="taskForm">
                <div>
                    <label for="edit-name">Name: &nbsp;</label>
                    <input id="edit-name" type="text" formControlName="Name">
                </div>
                <div>
                    <label for="edit-description">Description: &nbsp;</label>
                    <input id="edit-description" type="text" formControlName="Description">
                </div>
                <div>
                    <label for="edit-estimate">Estimate: &nbsp;</label>
                    <input id="edit-estimate" type="number" formControlName="Estimate">
                </div>
                <div>
                    <label for="edit-start-date">Start date: &nbsp;</label>
                    <input id="edit-start-date" type="date" formControlName="StartDate">
                </div>
                <div>
                    <label for="edit-end-date">End date: &nbsp;</label>
                    <input id="edit-end-date" type="date" formControlName="EndDate">
                </div>
                <div>
                    <label for="select-type">Type: &nbsp;</label>
                    <select id="select-type" formControlName="TypeId">
                        <option *ngFor="let type of apiService.taskTypes" value="{{type.id}}">{{type.name}}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <ng-template #popTitle>Delete this task?</ng-template>
            <ng-template #popContent>
                <button class="btn btn-success">No!</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteTask(modalTask)">Delete.</button>
            </ng-template>

            <button type="button" class="btn btn-primary" (click)="modal.close('save click')">Save</button>
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button"
                    class="btn btn-danger delete-button"
                    title="Delete this task!"
                    placement="top" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                    [hidden]="!modalTask.Id"
            >
                <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
        </div>
    </div>
</ng-template>
