<div id="skill-modal">
    <div class="modal-header">
        <h4 class="modal-title" id="skill-modal-title">Skill</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="skillForm">
            <input type="hidden" formControlName="EmployeeId">

            <div class="form-group">
                <label for="select-skill" class="col-sm-2 col-form-label">Skill: &nbsp;</label>
                <div class="col-sm-10">
                    <select id="select-skill" class="form-control form-control-sm"
                            formControlName="SkillId" [ngClass]="{ 'is-invalid': submitted && f.SkillId.errors }">
                        <option value="{{skillsItem.Id}}" *ngFor="let skillsItem of skills" [selected]="skillsItem.Id === skill.Id">{{skillsItem.Name}}</option>
                    </select>
                    <div *ngIf="submitted && f.SkillId.errors" class="invalid-feedback">
                        <div *ngIf="f.SkillId.errors.required || f.SkillId.errors.min">Skill is required</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="select-level" class="col-sm-2 col-form-label">Level: &nbsp;</label>
                <div class="col-sm-10">
                    <select id="select-level" class="form-control form-control-sm"
                            formControlName="LevelId" [ngClass]="{ 'is-invalid': submitted && f.LevelId.errors }">
                        <option value="{{level.Id}}" *ngFor="let level of skillLevels" [selected]="level.Id === skill.LevelId">{{level.Name}}</option>
                    </select>
                    <div *ngIf="submitted && f.LevelId.errors" class="invalid-feedback">
                        <div *ngIf="f.LevelId.errors.required || f.LevelId.errors.min">Level is required</div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave(skillForm.value)">
                <span *ngIf="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span>&nbsp;</span>
                </span>
            <span>Save</span>
        </button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    </div>
</div>
